.centerA{
    margin: 0 auto;
}

.padded{
    padding-top: 2rem;
}

.aboutDescription{
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    text-align: center;
}


.colorA{
    color: darkgrey;
}

.nameA{
    font-size: 22px;
    font-weight: 600;
}

.roleA{
    font-size: 15px;
    font-weight: 200;
    padding: 0.5rem;
}

@media only screen and (max-width: 500px){
    .aboutDescription{
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

}

@media only screen and (min-width: 501px) and (max-width: 700px){
    .aboutDescription{
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
} 