.nav-bar{
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    color: darkgray;
}

.nav-text {
    font-size: medium;
    font-weight: 900;
    
}

.navbarStyle{
    background-color: rgb(30 215 96);
    border-radius: 3rem;
}

.menu {
    padding-left: 170px;
    color: #161616;

}
@media only screen and (max-width: 412px){
    .nav-bar{
    padding: 2rem;
    color: darkgray;
}
    .nav-text {
    font-size: medium;
    font-weight: 9;
}
    .menu {
    padding-left: 70px;
    color: #161616;

}
    
}